.profile {
    position: relative;
    width: 200px;
    text-align: center;
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.new {
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 0.3rem;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    display: none;
}

.shown {
    display: block;
}